
@{
    ViewBag.Title = "AcceptInvitation";
}

<h2>AcceptInvitation</h2>

<body>
    <h3>
        You accepted the invitation!
    </h3>
    <hr />
   <h3>
       Click the following link to register! 
   </h3>
    <a href=@Url.Action("RegisterHouseholdInvitation","Account")>Link!
    </a>
</body>